@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');


:root {
  --primary-color: #007373; /* Teal */
  --secondary-color: #2B3A42; /* Charcoal */
  --accent-color: #FF6F4F; /* Coral */
  --background-color: #F8F8F8; /* Off-White */
  --text-color: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #005f5f;
}